{
  "env": {
    "production": {
      "plugins": [
        ["transform-react-remove-prop-types", {
          "mode": "remove",
          "removeImport": true
        }]
      ]
    }
  },
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "> 5%"
          ],
          "node": "current"
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    "transform-async-generator-functions",
    "transform-class-properties"
  ]
}